/home/prasanna/Desktop/scallop_code/Visual_Attn_Distribution_Stats/Results_current/
/home/prasanna/Desktop/scallop_code/scallop_part2/scallop2Testing.mat
/home/prasanna/Desktop/scallop_code/scallop_part2/scallopLookupTable.mat
/home/prasanna/Desktop/scallop_code/scallop_part2/MatFiles/paper_results
/home/prasanna/Desktop/scallop_code/scallop_part2/MatFiles/scallop1_img8049.mat
/home/prasanna/Desktop/scallop_code/scallop_part2/MatFiles/scallop2Testing_2LayerSeg.mat
